html {
    scroll-behavior: smooth;
}

#div1{
    height: 100vh;
    width: 100%;
    
}

#div2 {
    height: 100vh;
    width: 100%;
    transition: width 0.5s;
}

#tytul{
    text-align: center;
    margin: 0px;
    height: 10vh;
    background-color: lightblue;
    font-size: 70px;
}

#grafika {
    width: 100%;
    height: 90vh;
    position: relative;
}

#a #strzalka{ 
    position: absolute;
    bottom: 5vh;
    bottom: 100px;
    right: 44vw;
    width: 200px;
    height: 200px;
    opacity: 70%;
}

#a:hover #strzalka:hover {
    opacity: 100%;
}

#linki {
    height: 20%;
}

#map {
    height: 80%;
}


#btn1{
    float: right;
    width: 45%;
    height: 80%;
    padding: 0px;
    margin-top: 15px;
    transition: width 0.5s;
    opacity: 90%;
    background-color: lightblue;
}

#btn1:hover {
    width: 50%;
    opacity: 120%;
}

#btn2{
    float: left;
    width: 45%;
    height: 80%;
    padding: 0px;
    margin-top: 15px;
    transition: width 0.5s;
    opacity: 90%;
    background-color: lightblue;
}

#btn2:hover{
    width: 50%;
    opacity: 120%;
}

#img1{
    width: 100%;
    height: 100%;

}

#img2{
    width: 100%;
    height: 100%
}